:root {
    --safi-header-bg-color: #272627;
    --safi-header-height: 40px;
    --safi-bottom-bar-height: 30px;
    --safi-sidebar-width: 240px;
    --safi-sidebar-folded-width: 60px;
    --safi-sidebar-footer-height: 30px;
    
}

$col-dark: #343334;
$col-light: white;
$col-faded-light: #ffffff99;
$col-faded-lighter: #ffffff40;
$col-dark-sidebar: #4e4d4e;
$col-accent: #8c53ff;
$col-accent-light: #e8dcff;
$col-accent-alt: #5890ff;
$col-accent-alt2: rgb(0, 20, 255);
$col-accent-alt3: #ff9400;
$col-accent-alt3-dark: #cc7c0d;
// $col-selection: #558ef0;
$col-selection: #8c53ff;


$plain-border-col:#5e5e5e;
$plain-bg-col:#343334;